
<main class="form-signin w-100 m-auto bg-body-tertiary">
  <form>
    <div class="form-floating my-2">
      <input type="characterName" class="form-control" id="inputPersonalName" placeholder="Zezinho">
      <label for="inputPersonalName">Seu Nome</label>
    </div>
    <div class="form-floating my-2">
      <input type="characterName" class="form-control" id="inputCharacterName" placeholder="ThunderWarrior">
      <label for="inputCharacterName">Nome do Personagem</label>
    </div>
    <div class="form-floating mt-2">
      <input type="number" class="form-control" id="inputCharacterGearScore" placeholder="3500">
      <label for="inputCharacterGearScore">Pontos de Equipamento (Gear Score)</label>
    </div>

    <button class="btn btn-success w-100 py-2 my-2" type="submit"><i class="fa-solid fa-check"></i> Cadastrar</button>
  </form>
</main>