
<main class="form-signin w-100 m-auto bg-body-tertiary">
  <form class="text-center">
    <button class="btn btn-primary w-100 py-2" type="submit"><i class="fa-brands fa-discord"></i> Entrar com Discord</button>
  </form>
</main>