<% content_for :pages_layout do %>
  <div class="sidebar">
    <h3>This is my sidebar</h3>
    <p>Yay sidebar stuff.</p>
  </div>

  <div class="main-content">
    <!-- Content from the static pages, ex: app/views/pages/about.html.erb
         will be rendered by this yield. -->
    <%= yield %>
  </div>
<% end %>

<!-- be sure to include this render tag for the application layout -->
<%= render template: 'layouts/application' %>